<div class="modal-header">
    <h5 class="modal-title" id="addProductModalLabel">Edit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <!-- Image Preview Column -->
        <div class="col-md-4">
            <div class="form-group">
                <img id="productImagePreview" src="{{ url_for('static', filename='uploads/' + p.image_filename) }}"
                     alt="" class="img-fluid">
            </div>
        </div>
        <!-- Product Form Column -->
        <div class="col-md-8">
            <form id="saveProductForm" method="POST" action="{{ url_for('admin.product') }}"
                  enctype="multipart/form-data">
                <!-- Name Field -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ p.name }}" required>
                </div>
                <!-- Description Field -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"
                              required> {{ p.description }} </textarea>
                </div>
                <!-- Price Field -->
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" name="price" step="0.01" value="{{ p.price }}"
                           required>
                </div>
                <!-- Image Field -->
                <div class="form-group">
                    <label for="image">Change Image</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept="image/*"
                           onchange="previewImage(event)">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="save">Save</button>
                    <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                </div>
                <input
                    type="hidden"
                    name="productID"
                    value=' {{ p.id }}'
            />
            </form>
        </div>
    </div>
</div>