{% extends 'base.html' %}

{% block title %}Admin - Orders and Deliveries{% endblock %}

{% block modal %}
<div class="modal fade" id="ordelModal" tabindex="-1" role="dialog" aria-labelledby="ordelModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<style>
    .badge {
        width: 100px;
        padding: 10px;
    }

    .container {
        padding: 50px;
    }

    .pagination {
        margin-top: 20px;
        justify-content: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Orders and Deliveries</h2>
        </div>
        <div class="col-sm-6">
            <form class="form-inline float-right">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Delivery ID</th>
            <th>CustomerID</th>
            <th>ProductID</th>
            <th>Date Ordered</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for o in orders %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.customer_id }}</td>
            <td>{{ o.product_id }}</td>
            <td>{{ o.date_ordered }}</td>
            {% if o.status == "pending" %}
            <td><span class="badge badge-warning">{{ o.status }}</span></td>
            {% elif o.status == "taken" %}
            <td><span class="badge badge-success">{{ o.status }}</span></td>
            {% elif o.status == "cancelled" %}
            <td><span class="badge badge-danger">{{ o.status }}</span></td>
            {% endif %}
            <td>
            <button class="btn btn-primary" data-id='{{ o.id }}' onclick="openOrdelModal({{ o.id }})">View</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='modal.js') }}"></script>
{% endblock %}