{% extends 'base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}

<style>
  .badge {
    width: 100px;
    padding: 10px;
  }
  .container {
    padding: 50px;
  }
  .pagination {
    margin-top: 20px;
    justify-content: center;
  }

</style>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>My Orders</h2>
        </div>
        <div class="col-sm-6">
            <form class="form-inline float-right">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Date Ordered</th>
            <th>Address</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.product_id }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.date_ordered }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.total_price }}</td>
            {% if order.status == "pending" %}
            <td><span class="badge badge-warning">{{ order.status }}</span></td>
            {% elif order.status == "taken" %}
            <td><span class="badge badge-success">{{ order.status }}</span></td>
            {% elif order.status == "cancelled" %}
            <td><span class="badge badge-danger">{{ order.status }}</span></td>
            {% endif %}
            <td>
                {% if order.status == "pending" and order.status != "taken" %}
                <form action="{{ url_for('customer.cancel_order', order_id=order.id) }}" method="POST">
                    <input type="hidden" name="orderid" value="{{ order.id }}">
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
                {% endif %}
                <button class="btn btn-primary" data-id='{{ order.id }}' onclick="#">View</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}