<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    body {
      background-color: #0D7ADE;
      padding: 20px;
    }
    .container {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      padding: 50px;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    </style>
</head>
<body>


<div class="d-flex justify-content-center">
  <a class="navbar-brand" href="{{ url_for('index') }}">
    <img style="width: 100px; height 50px;" id="logo" src="{{ url_for('static', filename='images/2Big-Icon.png') }}" alt="App Logo"/>
  </a>
</div>


<div class="container">
    {% block form %} {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
